[build.targets.sdist.force-include]
"dbt/task/docs/index.html" = "dbt/task/docs/index.html"

[build.targets.wheel]
packages = ["dbt"]
include = [
    "dbt/**/*.html",
    "dbt/**/*.json",
    "dbt/**/*.sql",
    "dbt/**/*.yml",
    "dbt/**/*.md",
    "dbt/**/.gitkeep",
    "dbt/**/.gitignore",
    "dbt/py.typed",
]
exclude = [
    "dbt/artifacts/README.md",
    "dbt/cli/README.md",
    "dbt/clients/README.md",
    "dbt/config/README.md",
    "dbt/context/README.md",
    "dbt/contracts/README.md",
    "dbt/deps/README.md",
    "dbt/events/README.md",
    "dbt/graph/README.md",
    "dbt/parser/README.md",
    "dbt/task/README.md",
    "dbt/README.md",
    "dbt/docs/Makefile",
    "dbt/docs/make.bat",
    "dbt/docs/source/index.rst",
]

[envs.default]
dependencies = [
    "pre-commit~=3.7.0",
    "pytest>=7.0,<8.0",
    "pytest-xdist~=3.6",
]

[envs.default.scripts]
setup = ["pre-commit install"]
unit-tests = "python -m pytest tests/unit"
integration-tests = "python -m pytest tests/functional"

[envs.build]
detached = true
dependencies = [
    "wheel",
    "twine",
    "check-wheel-contents",
]

[envs.build.scripts]
check-wheel = [
    "twine check dist/*",
    "pip install --force-reinstall dist/*.whl",
]

[envs.ci]
dependencies = [
    "pytest>=7.0,<8.0",
    "pytest-xdist~=3.6",
]

[envs.ci.scripts]
unit-tests = "python -m pytest tests/unit"
integration-tests = "python -m pytest tests/functional"

[envs.cd]
dependencies = [
    "pytest>=7.0,<8.0",
    "pytest-xdist~=3.6",
]

[envs.cd.scripts]
unit-tests = "python -m pytest tests/unit"
integration-tests = "python -m pytest tests/functional"
